#Data Types:
**TO AVOUD SYNTAX ERROR**
1. int ( 1, 2, 3, ...)
2. float ( 2.0, 3.5, ...)
3. str (Anything written inside this brackets "   " or '   ') **Not String**
4. bool (True, False) **Starts with capital T and F**

Note:


a. In python we don't write the data types before the variable name.


b. Single and double cotations are the same in Python.

#Variable names
There are some rules when writing a variable name:

1. NEVER start with a number
2. NO spaces
3. NEVER use a built-in function name as a variable name

###To output the variable data type use:

In [ ]:
x = "Malak"
print(type(x))

<class 'str'>

# String concatenation

In [ ]:
y = 3
z = 6
print(f'y + z = {y + z}') #f refers to format
# We use the string concatenation in AI when we would write "The model performance is kzaaa" w ntl3 b3dha el accuracy

y + z = 9

In [2]:
name = 'Malak'
age = 22

print(f"My name is {name}, I have {age} years old")

My name is Malak, I have 22 years old

#Casting

In [ ]:
x = 3.369
print(int(x))

3

In [ ]:
print(5//2)

2

#Tb lw 3ayzen nktb 7aga zy is msln bel ', nfr2 ezay benha w ben el cotations?
Fe el 7ala de bn7ot el str fe double cotations

#Take input from users

lw mktbt4 el data type 2bl ma tktb el input hya5do by default as str f2ftkr tktb el data type daymn 2bl ma ta5od ay input ya hndsa

In [1]:
name = str(input('What is your name? '))

What is your name? Malak

In [3]:
name

'Malak'

#Conditions

5od balk ya memo else if in python is written **elif**

In [5]:
x = "Malak"

In [6]:
if x == "Menna":
  print('Hi!! Menna')
  print(3+6)
print("Hi!!Malak")

Hi!!Malak

In [7]:
password = 'Malak123'

In [8]:
ur_pass = str(input('Enter the wifi password: '))
if ur_pass == password:
  print('You are in')
else:
  print('Invalid password')

Enter the wifi password: Malak123
You are in

#Loops

In [ ]:
for i in range(10, 100, 5): #(Start i from 10, End at 100, num of steps is: 5)
# if we don't write the start of the range it will be 0 , step will be 1 by default
  print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

#Your Task :D

Take 3 inputs from the user (name, age, salary)

if his age is over 30 years old, give him a rais by 30%

else if salary less than 5k , give him a rais by 50%

else if salary between 5k and 10k , give him a rais by 20%

else ... no rais

In [10]:
name = input('What is your name? ')
age = float(input('What is your age? '))
salary = float(input('What is your salary? '))
if age > 30:
  print(f'Your new salary is {salary * 1.3}')
elif salary < 5000:
  print(f'Your new salary is {salary * 1.5}')
elif salary > 5000 and salary < 10000: # In python we can write "and , or" and we can also write "& , |"
  print(f'Your new salary is {salary * 1.2}')
else:
  print(f'your salary is {salary}')

What is your name? Malak
What is your age? 23
What is your salary? 1500
Your new salary is 2250.0

# 7ta mn 7elwa kda:
lw ktbt esm el variable fe 2a5er el cell hy3mlo print lw7do mn 8er ma tktb print

In [11]:
x = "Malak"
x

'Malak'

###Print supports the operations like that:

In [ ]:
print(3+6)

9

#Functions

In [ ]:
def calc():
  n1 = int(input('Enter the first number: '))
  sign = str(input('Enter the operation: '))
  n2 = int(input('Enter the second number: '))


  if sign == '+':
    print(n1 + n2)
  elif sign == '-':
    print(n1 - n2)
  elif sign == '*':
    print(n1 * n2)
  elif sign == '/':
    print(n1 / n2)

In [ ]:
calc()

Enter the first number: 3
Enter the operation: *
Enter the second number: 5
15

In [ ]:
def add(n1, n2 = 10): #Hna n1 w n2 parameters w n2 lw el user md5lo4 hyb2a b 10 by default bs lw d5lo hya5do bel value el user md5lha 3ady
  print(n1 + n2)

In [ ]:
add(5, 5)

10

#Data Structure

( List[], Dictionary{}, Tuple(), Set{} )
3andy data kbera m4 3ayza a5znha fe kza variable, fb5znha kolha fe variable wa7ed mn el data structures de, el 25tlaf benhom en kol wa7da fehom gwaha built-in fuctions mo5tlfa w brdu tre2et el ta5zen fehom mo5tlfa

# List
indices starts from 0
Momken 25zn gwaha data types mo5tlfa

In [12]:
x = [1, 2, 3, 4, 5, 'Malak', 3.5, True]
print(type(x))
x[1] #refers to 2 because the 1 in the square brackets refers to the index not the value

<class 'list'>

2

In [13]:
x.append(10)
x

[1, 2, 3, 4, 5, 'Malak', 3.5, True, 10]

lw ana 3ayza 25od msln el esm tholathy as an input from the user f kol ma ya5od esm mn el 3 names dol el esm el 2ablo hytms7 mn el variable f el solution hna enna n5znhom fe list like that:

In [14]:
names = []
for i in range(3):
  names.append(input('Enter the name: '))
na

Enter the name: Malak
Enter the name: Mohamed
Enter the name: Ahmed

['Malak', 'Mohamed', 'Ahmed']

# Dictionary
{ key,

value
}

In [15]:
x = { 'name' : 'Malak',
     'age' : 25}
x['age']

25

### Tuple()
value gwa variable malesh access 3leha bs by2bl el repeated values

### Sets
zy el tuple bzbt bs msh bt2bl el repeated values